#profile {}
h1 {
	width: 50%;
	margin: 0 auto 0;
}
#profile > #userprofile {
	width: 200px;
	height:400px;
	width: 50%;
	margin: 0 auto 0;
	font-size: 16px;
}
#table {
	border-spacing: 8px;
}
td {
	padding: 6px;
}
