
body {
  margin-top: 72px;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

.header {
	text-align: center;
}

.table>tbody>tr>td {
	vertical-align: middle;
}

.navbar-default .navbar-toggle:focus{
	background: none;
}

.navbar-default .navbar-toggle{
	border: none;
}

.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:hover{
	background-color: #ddd;
}

@media (max-width: 767px){
	.table{
		font-size: 0.8em;
	}

	.hide-on-smartphone {
		display: none;
	}
}