
body {
  margin-top: 72px;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

.header {
	text-align: center;
}

.table>tbody>tr>td {
	vertical-align: middle;
}

.navbar-default .navbar-toggle:focus{
	background: none;
}

.navbar-default .navbar-toggle{
	border: none;
}

.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:hover{
	background-color: #ddd;
}

.sortable{
	cursor: pointer;
}

.homepage-content {
	margin: 2em 8px 0 8px;
	font-size: 1.2em;
	line-height: 1.5em;
	border: 1px solid #dedede;
	background: rgba(0,0,0,0.015);
	padding: 2em;
}

@media (max-width: 767px){
	.table{
		font-size: 0.8em;
	}

	.hide-on-smartphone {
		display: none;
	}

	.homepage-content {
		margin: 2em 8px 0 8px;
		font-size: 1em;
		padding: 1em;
	}
}