
body {
  margin-top: 72px;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

.header {
	text-align: center;
}

.table>tbody>tr>td {
	vertical-align: middle;
}

.navbar-default .navbar-toggle:focus{
	background: none;
}

.navbar-default .navbar-toggle{
	border: none;
}

.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:hover{
	background-color: #ddd;
}

.sortable{
	cursor: pointer;
}

.homepage-content {
	margin: 2em 8px 0 8px;
	font-size: 1.2em;
	line-height: 1.5em;
	border: 1px solid #dedede;
	background: rgba(0,0,0,0.015);
	padding: 2em;
}

.row-info{
	text-align: center;
}

button.add:after{
	content: 'Legg til';
}

button.btn:focus,
button.btn:focus:active,
button.btn.active,
button.btn.active:focus{
	outline: none;
}

.filter-wrapper{
	display: flex;
	justify-content: center;
}

.filter-wrapper button{
	margin: 0 3px;
}

.if-no-results{
	display: none;
}

.if-no-results:first-child:last-child{
	display: table-row;
}

@media (max-width: 992px){
	.table{
		font-size: 0.9em;
	}
}

@media (max-width: 767px){
	.col-md-12{
		padding: 0 10px;
	}

	.table-responsive{
		border: none;
	}

	.table{
		font-size: 0.8em;
	}

	tr.mouse-pointer td:first-child{
		overflow: hidden;
		max-width: 175px;
		text-overflow: ellipsis;
	}

	.hide-on-smartphone {
		display: none;
	}

	.homepage-content {
		margin: 2em 8px 0 8px;
		font-size: 1em;
		padding: 1em;
	}
}

@media (max-width: 650px){
	.hide-on-650px{
		display: none;
	}
}

@media (max-width: 580px){
	.hide-on-580px{
		display: none;
	}
}

@media (max-width: 500px){
	.hide-on-500px{
		display: none;
	}

	.ticker-content {
		font-size: 21px;
	}

	tr.mouse-pointer td:first-child{
		max-width: 150px;
	}

	button.add:after{
		content: '+';
	}

	.highcharts-range-selector-buttons{
		transform: translate(-0px, 5px);
	}

	.highcharts-range-selector-buttons tspan{
		display: none;
	}
}

@media (max-width: 410px){
	.hide-on-410px{
		display: none;
	}

	tr.mouse-pointer td:first-child{
		max-width: 140px;
	}
}

