.profil{
	text-align: center;
}
#profile {
	width: 560px;
	margin: 0 auto 0;
}
#bottom {
	float:left;
	height: 100px;
	width: 700px;
	margin: 50px auto 50px;
}
#profile > #userprofile {
	display: inline;
	float: left;
	font-size: 16px;
}
#profile > #profileimage {
	float: left;
}
td {
	padding: 6px;
}
.s0 {
	background-color:#c6e2ff;
}
#edit {
	margin-left: -50px;
	opacity: 0.5;
	transform: rotate(90deg);
	transform-origin: left top 0;
	float:right;
}