#wrap_notes{
  position: fixed;
  z-index: 1000000;
  width: 300px;
  right: 10px;
}

#notes_icon{
  top: 14px;
  max-width: 35px;
  max-height: 35px;
  cursor: pointer;
  position: absolute;
  right: 10px;
}

#note_field{
  word-break: break-all;
}

#note_components{
  padding: 54px 10px 10px;
  background-color: white;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
}

textarea{
  background-color: white;
  width: 100%;
  border: 1px solid #ddd;
  resize: none;
}

textarea:focus, textarea:active{
  outline: none;
  border-color: #aaa;
}

#note_title{
  position: absolute;
  top: 0;
  font-size: 17px;
}
