
.ticker-info{
  margin-top: 4em;
  display: flex;
  width: 100%;
  font-size: 18px;
  justify-content: space-between;
}

.ticker-info > div:last-child{
  text-align: right;
}

.ticker-title{
  font-size: 11px;
    letter-spacing: 1px;
    font-weight: normal;
    padding: 0px 8px 0px 10px;
    text-transform: uppercase;
}

.ticker-content{
  text-transform: uppercase;
    font-size: 24px;
    line-height: 20px;
    padding: 2px 7px 0px 8px;
}

.loading-home {
  text-align: center;
  margin-top: 80px;
  font-size: 80px;
}

.highcharts-wrapper{
  max-width: 100%!important;
}

.textoverlay{
  -webkit-filter:blur(4px);
    filter:blur(4px);
}

.homepage-content {
  margin: 2em 8px;
  font-size: 1.2em;
  line-height: 1.5em;
  border: 1px solid #dedede;
  background: rgba(0,0,0,0.015);
  padding: 2em;
}
